@using Microsoft.Extensions.Configuration
@using Project.Proxy.ViewModels
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model CategoryViewModel;
@{
    ViewData["Title"] = @Model.Name;
    ViewData["Description"] = @Model.Description;
    ViewData["Imags"] = @Configuration.GetSection("Domain")["FrontEnd"] + "/imgs/default.jpg";
}


<section class="hero">
    <div class="hero__slider owl-carousel">
        @if (Model.Images.Count() > 0)
        {
            @foreach (var m in Model.Images)
            {
                <div class="hero__items set-bg">

                    <img class="lazyload img-fluid" src="@m.Path" height="600" width="1200" />
                   
                </div>
            }   }
    </div>

</section>

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>@Model.Name</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Trang chủ</a>
                        <span>@Model.Name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Latest Blog Section Begin -->
<section class="latest mt-5">
    <div class="container">
        @if (!string.IsNullOrEmpty(Model.Body))
        {
            <div class="row row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__share">
                            <span>Theo dõi</span>
                            <ul>
                                <li><a href="https://www.facebook.com/thiblxgiaree"><i class="fa fa-facebook"></i></a></li>

                                <li><a href="https://www.messenger.com/t/107400932131986"><img src="~/malefashion/img/icon/messenger (1).png" height="20" width="20" loading="lazy" style="color:white" /></a></li>
                            </ul>
                        </div>
                        <div class="blog__details__text">
                            @if (!string.IsNullOrEmpty(Model.Body))
                            {
                                @Html.Raw(Model.Body)

                            }
                        </div>
                    </div>
                </div>
            </div>

        }
        @if (Model.Products != null)
        {
            @if (Model.Products.Count() > 0)
            {
                @if (!string.IsNullOrEmpty(Model.Body))
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <span>Tin tức</span>
                                <h2>Bài viết liên quan</h2>
                            </div>
                        </div>
                    </div>
                }
                <div class="row">

                    @foreach (var p in @Model.Products)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog__item">
                                @if (p.Images.Count() == 0)
                                {
                                    <div class="blog__item__pic set-bg" data-setbg="/imgs/default.jpg"></div>
                                }
                                @if (p.Images.Count() > 0)
                                {
                                    var image = p.Images.First();
                                    <div class="blog__item__pic set-bg" data-setbg="@image.Path"></div>
                                }
                                <div class="blog__item__text">
                                    <span>
                                        <img src="~/malefashion/img/icon/calendar.png" />
                                        @p.DateCreated.ToString("dd-MM-yyyy")
                                    </span>
                                    <h5>@p.Title</h5>
                                    <a href="@p.SeoAlias">Tìm hiểu thêm</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>

</section>
<!-- Latest Blog Section End -->