@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name=description content="@ViewData["Description"]">
    <meta name=keywords content="@Configuration.GetSection("SEO")["keywords"]">

    <meta charset=utf-8>
    <meta name=Language content=vi>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta name=google-play-app content="app-id=thibanglaixeso1">
    <meta name=apple-itunes-app content="app-id=thibanglaixeso1">
    <meta name=robots content=index,follow>
    <meta property=fb:app_id content=1494625070860392>
    <meta property=fb:admins content=100000557505136>
    <meta property=og:url itemprop=url content="https://thibanglaixeso1.vn/">
    <meta property=og:type content=article>
    <meta property=og:title content="@ViewData["Title"]">
    <meta property=og:description content="@ViewData["Description"]">
    <meta property=og:image content="@ViewData["Imags"]">
    <meta property=article:author content="Thi bằng lái xe">
    <meta property=article:section content=News>
    <meta property=article:tag content="@Configuration.GetSection("SEO")["keywords"]">
    <link rel=apple-touch-icon sizes=180x180 href="/imgs/seo.png">
    <link rel="icon" type="image/x-icon" href="/imgs/seo.png">
    <link rel=icon type=image/png sizes=32x32 href="/imgs/seo.png">
    <link rel=icon type=image/png sizes=16x16 href="/imgs/seo.png">
    <link rel=manifest href=/site.webmanifest>
    <link rel=mask-icon href=/safari-pinned-tab.svg color=#5bbad5>
    <meta name=msapplication-TileColor content=#da532c>
    <meta name=theme-color content=#ffffff>
    <meta name=facebook-domain-verification content=jklkvwzba1tr8mpm74z44l71ndz7iw>
    <link rel=canonical href="http://thibanglaixeso1.vn/">


	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
		  rel="stylesheet">

    <!-- Css Styles -->
  
	<link rel="stylesheet" href="~/malefashion/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="~/malefashion/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="~/malefashion/css/elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="~/malefashion/css/magnific-popup.css" type="text/css">
	<link rel="stylesheet" href="~/malefashion/css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="~/malefashion/css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="~/malefashion/css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="~/malefashion/css/style.css" type="text/css">


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WF2WDPWK69"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WF2WDPWK69');
    </script>

</head>
<body>
@* 	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div> *@


    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Đăng nhập</a>
                <a href="#">Đăng ký</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>VNĐ <i class="arrow_carrot-down"></i></span>
              
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Đăng nhập</a>
                                <a href="#">Đăng ký</a>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                      
                        <a href="./index.html">  <img src="~/malefashion/img/logo.png" /></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    @await Component.InvokeAsync("Menu")
                </div>
               
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    @await Component.InvokeAsync("HomeBanner")
    <!-- Hero Section End -->

  
    @RenderBody()

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>
                            Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="~/malefashion/js/jquery-3.3.1.min.js"></script>
    <script src="~/malefashion/js/bootstrap.min.js"></script>
    <script src="~/malefashion/js/jquery.nice-select.min.js"></script>
    <script src="~/malefashion/js/jquery.nicescroll.min.js"></script>
    <script src="~/malefashion/js/jquery.magnific-popup.min.js"></script>
    <script src="~/malefashion/js/jquery.countdown.min.js"></script>
    <script src="~/malefashion/js/jquery.slicknav.js"></script>
    <script src="~/malefashion/js/mixitup.min.js"></script>
    <script src="~/malefashion/js/owl.carousel.min.js"></script>
    <script src="~/malefashion/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

	
    <script>
        $('#basic-addon2').click(function () {
            window.open(`/tra-cuu-ho-so?cmnd=` + $('#searching').val(), '_blank').focus();
        });
        $("#searching").on('keyup', function (e) {
            if (e.key === 'Enter' || e.keyCode === 13) {
                window.open(`/tra-cuu-ho-so?cmnd=` + $('#searching').val(), '_blank').focus();
            }
        });
    </script>
</body>
</html>
