@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using Project.Proxy.ViewModels
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name=description content="@ViewData["Description"]">
    <meta name=keywords content="@Configuration.GetSection("SEO")["keywords"]">

    <meta charset=utf-8>
    <meta name=Language content=vi>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta name=google-play-app content="app-id=thibanglaixeso1">
    <meta name=apple-itunes-app content="app-id=thibanglaixeso1">
    <meta name=robots content=index,follow>
    <meta property=fb:app_id content=1494625070860392>
    <meta property=fb:admins content=100000557505136>
    <meta property=og:url itemprop=url content="https://thibanglaixeso1.vn/">
    <meta property=og:type content=article>
    <meta property=og:title content="@ViewData["Title"]">
    <meta property=og:description content="@ViewData["Description"]">
    <meta property=og:image content="@ViewData["Imags"]">
    <meta property=article:author content="Thi bằng lái xe">
    <meta property=article:section content=News>
    <meta property=article:tag content="@Configuration.GetSection("SEO")["keywords"]">
    <link rel=apple-touch-icon sizes=180x180 href="/imgs/seo.png">
    <link rel="icon" type="image/x-icon" href="/imgs/seo.png">
    <link rel=icon type=image/png sizes=32x32 href="/imgs/seo.png">
    <link rel=icon type=image/png sizes=16x16 href="/imgs/seo.png">
    <link rel=manifest href=/site.webmanifest>
    <link rel=mask-icon href=/safari-pinned-tab.svg color=#5bbad5>
    <meta name=msapplication-TileColor content=#da532c>
    <meta name=theme-color content=#ffffff>
    <meta name=facebook-domain-verification content=jklkvwzba1tr8mpm74z44l71ndz7iw>
    <link rel=canonical href="https://thibanglaixeso1.vn/">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->

    <link rel="stylesheet" href="~/malefashion/css/bootstrap.min.css?v=3.2" type="text/css">
    <link rel="stylesheet" href="~/malefashion/css/font-awesome.min.css?v=3.2" type="text/css">
    <link rel="stylesheet" href="~/malefashion/css/elegant-icons.css?v=3.2" type="text/css">
    <link rel="stylesheet" href="~/malefashion/css/magnific-popup.css?v=3.2" type="text/css">
    <link rel="stylesheet" href="~/malefashion/css/nice-select.css?v=3.2" type="text/css">
    <link rel="stylesheet" href="~/malefashion/css/owl.carousel.min.css?v=3.2" type="text/css">
    <link rel="stylesheet" href="~/malefashion/css/slicknav.min.css?v=3.2" type="text/css">
    <link rel="stylesheet" href="~/malefashion/css/style.css?v=3.2" type="text/css">
    <link href="~/css/site.css?v=3.2" rel="stylesheet" />
    <link href="~/lib/jquery-ui.css?v=3.2" rel="stylesheet" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WF2WDPWK69"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WF2WDPWK69');
    </script>

</head>
<body>
    @* 	<!-- Page Preloder -->
    <div id="preloder">
    <div class="loader"></div>
    </div> *@


    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="/login">Đăng nhập</a>
                <a href="/register">Đăng ký</a>
                <a href="/tra-cuu-ho-so">Tra cứu lịch thi</a>
            </div>

        </div>

        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <a style="color:white" href="https://www.messenger.com/t/107400932131986">Tư vấn hồ sơ bằng lái xe.</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <a style="color:white" href="https://www.messenger.com/t/107400932131986">Tư vấn hồ sơ bằng lái xe.</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                @if (string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("_customerid")))
                                {
                                    <a href="/login">Đăng nhập</a>
                                    <a href="/register">Đăng ký</a>
                                }
                                @if (!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("_customerid")))
                                {
                                    <a href="/customer">@HttpContextAccessor.HttpContext.Session.GetString("_name")</a>
                                    <a href="/login/logout">Đăng xuất</a>
                                }

                                <a href="/tra-cuu-ho-so">Tra cứu lịch thi</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">

                        <a href="/" style="color:black; font-weight:bold; "><h1 style="font-size:30px !important">THI BẰNG LÁI XE</h1> </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    @await Component.InvokeAsync("Menu")
                </div>

            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <!-- Hero Section End -->
    @RenderBody()

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/" style="color:white">THI BẰNG LÁI XE SỐ 1 TẠI HÀ NỘI</a>
                        </div>
                        <p>Đăng ký xét duyệt nhanh chóng và bằng có sau 5-7 ngày</p>
                    </div>
                    <div class="mb-4">
                        <div id="fb-root"></div>
                        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v19.0&appId=1127349410978044" nonce="RKFSJ6PK"></script>
                        <div class="fb-page" data-href="https://www.facebook.com/thiblxgiaree/" data-tabs="timeline" data-width="" data-height="100" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/thiblxgiaree/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/thiblxgiaree/">Thi Bằng Lái Xe A1,A2 Tại Hà Nội</a></blockquote></div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Thi bằng lái xe số 1 tại Hà Nội</h6>
                        <ul>
                            <li><a href="/tra-cuu-ho-so">Lịch thi</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Thi bằng lái xe số 1 tại Hà Nội</h6>
                        <ul>
                            <li><a href="https://www.facebook.com/thiblxgiaree">Liên hệ với chúng tôi</a></li>
                            <li><a href="/register">Đăng ký</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Liên hệ chơi chúng tôi</h6>
                        <div class="footer__newslatter" style="cursor: pointer">
                            <p>Tư vấn và xét duyệt hồ sơ nhanh chóng!</p>

                            <a b-exm5fitpnp href="https://www.messenger.com/t/107400932131986" target="_blank" style="    text-decoration: none;
    color: red;
    font-weight: bold; ">
                                <img src="~/imgs/messenger-fb.jpg" class="lazyload" loading="lazy" height="50" width="50" alt="icon fb" />
                                Đăng ký Thi Bằng Lái Xe A1,A2 Tại Hà Nội !!!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>
                            Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | Thiết kế  <i class="fa fa-heart-o"
                                                               aria-hidden="true"></i> bởi <a href="https://www.facebook.com/mai.toan.3990/" target="_blank">Mai Toản</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>

    <div class="content-fix">
        <section id="media_image-4" class="widget widget_media_image">
            <div class="widget-wrap" style="float: inline-end;">
                <a href="https://www.messenger.com/t/107400932131986" class="bam-chat-fb">
                    <img src="~/imgs/mess.svg" width="50" height="50" class="image wp-image-31914 attachment-full size-full lazyload"
                         alt="" decoding="async" loading="lazy" style="max-width: 100%; height: auto;"
                         src="~/imgs/mess.svg">
                </a>
            </div>
        </section>
        <section id="image-upload-widget-2" class="widget image-upload">
            <div class="widget-wrap">
                <div class="mainposts">
                    <div class="box">
                        <a href="tel:0332418888" class="alignleft">
                            <img src="~/imgs/hotline.svg"
                                 width="20" height="20"
                                 class="attachment-full size-full lazyload" alt="hotline" decoding="async" loading="lazy">
                        </a>
                        <p class="title"><a style="color:white" href="tel:0332418888">0332418888</a></p>

                    </div>
                </div>
            </div>
        </section>
     
    </div>


    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="~/malefashion/js/jquery-3.3.1.min.js?v=3.2"></script>
    <script src="~/malefashion/js/bootstrap.min.js?v=3.2"></script>
    <script src="~/malefashion/js/jquery.nice-select.min.js?v=3.2"></script>
    <script src="~/malefashion/js/jquery.nicescroll.min.js?v=3.2"></script>
    <script src="~/malefashion/js/jquery.magnific-popup.min.js?v=3.2"></script>
    <script src="~/malefashion/js/jquery.countdown.min.js?v=3.2"></script>
    <script src="~/malefashion/js/jquery.slicknav.js?v=3.2"></script>
    <script src="~/malefashion/js/mixitup.min.js?v=3.2"></script>
    <script src="~/malefashion/js/owl.carousel.min.js?v=3.2"></script>
    <script src="~/malefashion/js/main.js?v=3.2"></script>
    <script src="~/lib/vjs-quality-picker.min.js?v=3.2"></script>
    <script src="~/lib/jquery-ui.js?v=3.2"></script>

    @await RenderSectionAsync("Scripts", required: false)


    <script>
        $("#datepicker").datepicker({
            dateFormat: "dd-mm-yy",
            onClose: function (selectedDate) {
                $(".pickdate svg").click();
            }
        });
 

        $('#basic-addon2').click(function () {
            window.open(`/tra-cuu-ho-so?date=${$('#datepicker').val()}&cmnd=` + $('#searching').val(), '_blank').focus();
        });
        $("#searching").on('keyup', function (e) {
            if (e.key === 'Enter' || e.keyCode === 13) {
                window.open(`/tra-cuu-ho-so??date=${$('#datepicker').val()}&cmnd=` + $('#searching').val(), '_blank').focus();
            }
        });
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const date = urlParams.get('date')
        const cmnd = urlParams.get('cmnd')
        $('#searching').val(cmnd)
        $("#datepicker").datepicker('setDate', date);

    </script>
</body>
</html>
