@using Microsoft.Extensions.Configuration
@using Project.Proxy.ViewModels
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model List<CustomerCalendarViewModel>;
@{
    ViewData["Title"] = "Tra cứu hồ sơ";
    ViewData["Description"] = "Tra cứu hồ sơ";
    ViewData["Imags"] = @Configuration.GetSection("Domain")["FrontEnd"] + "/imgs/default.jpg";
}

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Trang chủ</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Trang chủ</a>
                        <span>Tra cứu hồ sơ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-md-12">
             
                <div class="text-center">
                    <h2>TRA CỨU THÔNG TIN</h2>
                    <p>Sau khi Đăng ký hồ sơ, Trung tâm sẽ cập nhật vào hệ thống theo ngày.</p>
                    <p>Bạn có thể tra cứu được thông tin hồ sơ của bạn: Họ tên, Ngày nộp, Gói hồ sơ, Ngày thi bạn chọn, Ghi chú</p>
                    <p>SỐ BÁO DANH sẽ được up trước ngày thi 1 ngày</p>
                </div>
                <div>
                    <div class="input-group mb-3">
                        <input type="text" id="searching" class="form-control" placeholder="Nhập CMND/CCCD" aria-label="Nhập CMND/CCCD" aria-describedby="basic-addon2">
                        <span style="cursor:pointer" class="input-group-text" id="basic-addon2"><img src="/imgs/seo.png" alt="tìm kiếm" width="50" height="50"/></span>
                    </div>
                </div>
                <div class="table-responsive">
                    @{
                        @if(Model.Count() > 0)
                        {
                            <table class=" table-bordered table">
                                <thead>
                                    <tr>
                                        <th scope="col">Họ và tên</th>
                                        <th scope="col">Ngày sinh</th>
                                        <th scope="col">Lớp Khóa</th>
                                        <th scope="col">Hạng dự thi sát hạch</th>
                                        <th scope="col">Ghi chú</th>
                                        <th scope="col">Ngày thi</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var m in Model)
                                    {
                                        <tr>
                                            <th scope="row">@m.HoVaTen</th>
                                            <td>@m.NgayThangNamSinh</td>

                                            <td>@m.LopKhoa</td>
                                            <td>@m.HangDuSatHach</td>
                                            <td>@m.GhiChu</td>
                                            <td>@m.NgayThi.ToString("dd-MM-yyyy")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p style="color: red">Chưa có dữ liệu</p>
                        }
                    }
                 
                </div>

            </div>
          
        </div>
    </main>
</div>
