@using Microsoft.Extensions.Configuration
@using Project.Proxy.ViewModels
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model List<CustomerCalendarViewModel>;
@{
    ViewData["Title"] = "Tra cứu hồ sơ";
    ViewData["Description"] = "Tra cứu hồ sơ";
    ViewData["Imags"] = @Configuration.GetSection("Domain")["FrontEnd"] + "/imgs/default.jpg";
}

<div class="container mt-5">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-md-12">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Tra cứu hồ sơ</li>
                    </ol>
                </nav>

                <div class="text-center">
                    <h2>TRA CỨU THÔNG TIN</h2>
                    <p>Sau khi Đăng ký hồ sơ, Trung tâm sẽ cập nhật vào hệ thống theo ngày.</p>
                    <p>Bạn có thể tra cứu được thông tin hồ sơ của bạn: Họ tên, Ngày nộp, Gói hồ sơ, Ngày thi bạn chọn, Ghi chú</p>
                    <p>SỐ BÁO DANH sẽ được up trước ngày thi 1 ngày</p>
                </div>
                <div>
                    <div class="input-group mb-3">
                        <input type="text" id="searching" class="form-control" placeholder="Nhập CMND/CCCD" aria-label="Nhập CMND/CCCD" aria-describedby="basic-addon2">
                        <span style="cursor:pointer" class="input-group-text" id="basic-addon2"><img src="/imgs/seo.png" alt="tìm kiếm" width="50" height="50"/></span>
                    </div>
                </div>
                <div class="table-responsive">
                    @{
                        @if(Model.Count() > 0)
                        {
                            <table class=" table-bordered table">
                                <thead>
                                    <tr>
                                        <th scope="col">Họ và tên</th>
                                        <th scope="col">Ngày sinh</th>
                                        <th scope="col">CMND</th>
                                        <th scope="col">Lớp Khóa</th>
                                        <th scope="col">Hạng dự thi sát hạch</th>
                                        <th scope="col">Ghi chú</th>
                                        <th scope="col">Ngày thi</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var m in Model)
                                    {
                                        <tr>
                                            <th scope="row">@m.HoVaTen</th>
                                            <td>@m.NgayThangNamSinh</td>
                                            <td>@m.SoCMND</td>

                                            <td>@m.LopKhoa</td>
                                            <td>@m.HangDuSatHach</td>
                                            <td>@m.GhiChu</td>
                                            <td>@m.NgayThi.ToString("dd-MM-yyyy")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p style="color: red">Chưa có dữ liệu</p>
                        }
                    }
                 
                </div>

            </div>
          
        </div>
    </main>
</div>
