@using Microsoft.Extensions.Configuration
@using Project.Proxy.ViewModels
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model List<CustomerCalendarViewModel>;
@{
    ViewData["Title"] = "Tra cứu hồ sơ";
    ViewData["Description"] = "Tra cứu hồ sơ";
    ViewData["Imags"] = @Configuration.GetSection("Domain")["FrontEnd"] + "/imgs/default.jpg";
}

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Trang chủ</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Trang chủ</a>
                        <span>Tra cứu hồ sơ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-md-12">
             
                <div class="text-center">
                    <h2>TRA CỨU THÔNG TIN</h2>
                    <p>Sau khi Đăng ký hồ sơ, Trung tâm sẽ cập nhật vào hệ thống theo ngày.</p>
                    <p>Bạn có thể tra cứu được thông tin hồ sơ của bạn: Họ tên, Ngày nộp, Gói hồ sơ, Ngày thi bạn chọn, Ghi chú</p>
                    <p>SỐ BÁO DANH sẽ được up trước ngày thi 1 ngày</p>
                </div>
                <div>
                    <div class="input-group mb-3 d-flex flex-wrap">
                        <div class="pickdate">
                            <input type="text" id="datepicker" name="datepicker" class="form-control" placeholder="Chọn ngày">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 viewBox="0 0 16 16" fill="none">
                                <path d="M14.125 1.25H13.375V0H12.125V1.25H3.875V0H2.625V1.25H1.875C0.841125 1.25 0 2.09113 0 3.125V14.125C0 15.1589 0.841125 16 1.875 16H14.125C15.1589 16 16 15.1589 16 14.125V3.125C16 2.09113 15.1589 1.25 14.125 1.25ZM14.75 14.125C14.75 14.4696 14.4696 14.75 14.125 14.75H1.875C1.53038 14.75 1.25 14.4696 1.25 14.125V5.875H14.75V14.125ZM14.75 4.625H1.25V3.125C1.25 2.78038 1.53038 2.5 1.875 2.5H2.625V3.75H3.875V2.5H12.125V3.75H13.375V2.5H14.125C14.4696 2.5 14.75 2.78038 14.75 3.125V4.625Z"
                                      fill="#BDBDBD" />
                                <path d="M3.625 7.1875H2.375V8.4375H3.625V7.1875Z" fill="#BDBDBD" />
                                <path d="M6.125 7.1875H4.875V8.4375H6.125V7.1875Z" fill="#BDBDBD" />
                                <path d="M8.625 7.1875H7.375V8.4375H8.625V7.1875Z" fill="#BDBDBD" />
                                <path d="M11.125 7.1875H9.875V8.4375H11.125V7.1875Z" fill="#BDBDBD" />
                                <path d="M13.625 7.1875H12.375V8.4375H13.625V7.1875Z" fill="#BDBDBD" />
                                <path d="M3.625 9.6875H2.375V10.9375H3.625V9.6875Z" fill="#BDBDBD" />
                                <path d="M6.125 9.6875H4.875V10.9375H6.125V9.6875Z" fill="#BDBDBD" />
                                <path d="M8.625 9.6875H7.375V10.9375H8.625V9.6875Z" fill="#BDBDBD" />
                                <path d="M11.125 9.6875H9.875V10.9375H11.125V9.6875Z" fill="#BDBDBD" />
                                <path d="M3.625 12.1875H2.375V13.4375H3.625V12.1875Z" fill="#BDBDBD" />
                                <path d="M6.125 12.1875H4.875V13.4375H6.125V12.1875Z" fill="#BDBDBD" />
                                <path d="M8.625 12.1875H7.375V13.4375H8.625V12.1875Z" fill="#BDBDBD" />
                                <path d="M11.125 12.1875H9.875V13.4375H11.125V12.1875Z" fill="#BDBDBD" />
                                <path d="M13.625 9.6875H12.375V10.9375H13.625V9.6875Z" fill="#BDBDBD" />
                            </svg>
                        </div>
                        <input type="text" id="searching" class="form-control" placeholder="Nhập CMND/CCCD" aria-label="Nhập CMND/CCCD" aria-describedby="basic-addon2">
                        <span style="cursor:pointer" class="input-group-text"
                        id="basic-addon2"><img src="/imgs/seo.png" alt="tìm kiếm" width="25" height="25" /></span>
                    </div>
                </div>
                <div class="table-responsive">
                    @{
                        @if(Model.Count() > 0)
                        {
                            <table class=" table-bordered table">
                                <thead>
                                    <tr>
                                        <th scope="col">Họ và tên</th>
                                        <th scope="col">Ngày sinh</th>
                                        <th scope="col">Lớp Khóa</th>
                                        <th scope="col">Hạng dự thi sát hạch</th>
                                        <th scope="col"> Số chứng chỉ nghề hoặc giấy </th>
                                        <th scope="col"> Lớp khóa </th>
                                        <th scope="col">Ghi chú</th>
                                        <th scope="col">Ngày thi</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var m in Model)
                                    {
                                        <tr>
                                            <th scope="row">@m.HoVaTen</th>
                                            <td>@m.NgayThangNamSinh</td>
                                            <td>@m.LopKhoa</td>
                                            <td>@m.HangDuSatHach</td>
                                            <td>@m.SoChungChiNgheHoacGiay</td>
                                            <td>@m.LopKhoa</td>
                                            <td>@m.GhiChu</td>
                                            <td>@m.NgayThi.ToString("dd-MM-yyyy")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p style="color: red">Chưa có dữ liệu</p>
                        }
                    }
                 
                </div>

            </div>
          
        </div>
    </main>
</div>
